#init-loading {
  font-size: xx-large;
  position: fixed;
  height: 50px;
  width: 50px;
  top: 50px;
  left:calc(50% - 50px/2);
}
.count-down {
  font-size: 4rem;
  z-index: 999;
  position: absolute;
}
.ignition {
  font-size: 2rem;
  z-index: 999;
  position: absolute;
}
@media screen and (max-width: 768px) {
  #map {
   position: absolute;
   left: 50%;
   -webkit-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
  }
}
.stock {
  min-width: 1.75rem !important;
  min-height: 1.75rem !important;
  width: 1.75rem !important;
  height: 1.75rem !important;
  padding: 0px;
}
.stock-bomb {
  background-image: url("/static/bomb/red-bomb.svg");
  background-size: cover;
}
.box-base {
  cursor: pointer;
  min-width: var(--box-width) !important;
  min-height: var(--box-height) !important;
  width: var(--box-width) !important;
  height: var(--box-width) !important;
  text-align: left !important;
  vertical-align: top !important;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #000000;
  padding: 0px;
}
.box-row-last {
  border-bottom: 1px solid #000000;
}
.box-col-last {
  border-right: 1px solid #000000;
}
.box-pattern2 {
  background-color: #f5f5f5;
}
.box-base p.dummy {
  margin: 0;
  padding: 0;
}
.box-base img {
  position: absolute;
  z-index: 100;
}
.up {
  animation: up-animation 0.5s forwards;
}
@keyframes up-animation {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  100% {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
  }
}
.drop-down {
  animation: drop-down-animation 0.5s forwards;
}
@keyframes drop-down-animation {
  0% {
    transform: translateY(-1000px);
    -webkit-transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
.scale {
  animation: scale-animation 1.0s infinite;
}
@keyframes scale-animation {
  0% {transform: scale(1.0, 1.0);}
  50% {transform: scale(0.75, 0.75);}
  100% {transform: scale(1.0, 1.0);}
}
.knockout {
  animation: knockout-animation 1.0s forwards;
}
@keyframes knockout-animation {
  0% {transform: scale(1.0, 1.0);}
  50% {transform: scale(1.0, 1.0) rotate(360deg);}
  100% {transform: scale(0, 0) rotate(720deg);}
}
.erase {
  animation: erase-animation 1.0s forwards;
}
@keyframes erase-animation {
  0% {transform: scale(1.0, 1.0);}
  50% {transform: scale(1.0, 1.0);}
  100% {transform: scale(0, 0);}
}
.explosion-bomb {
  width: 1.75rem !important;
  height: 1.75rem !important;
  position: absolute;
  z-index: 101;
  animation: explosion-animation 0.5s forwards;
}
@keyframes explosion-animation {
  0% {transform: scale(0, 0);}
  90% {transform: scale(2.0, 2.0);}
  100% {transform: scale(0, 0);}
}
.blast {
  animation: blast-animation var(--animation-second) forwards;
}
@keyframes blast-animation {
  0% {
    transform: translateX(0px) translateY(0px) rotate(var(--rotate));
    -webkit-transform: translateX(0px) translateY(0px) rotate(var(--rotate));
  }
  90% {
    transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(var(--rotate));
    -webkit-transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(var(--rotate));
  }
  100% {
    transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(var(--rotate)) scale(0, 0);
    -webkit-transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(var(--rotate)) scale(0, 0);
  }
}
.big-explosion {
  width: 4rem;
  height: 4rem;
  position: absolute;
  z-index: 101;
  top: 150px;
  left: 200px;  
  animation: big-explosion-animation 1.0s forwards;
}
@keyframes big-explosion-animation {
  0% {transform: scale(0, 0);}
  12.5% {transform: scale(3.0, 3.0);}
  25% {transform: scale(0, 0);}
  37.5% {transform: translate(100%, 0) scale(3.0, 3.0);}
  50% {transform: scale(0, 0);}
  62.5% {transform: translate(100%, 100%)scale(3.0, 3.0);}  
  75% {transform: scale(0, 0);}
  87.5% {transform: translate(50%, 50%) scale(4.0, 4.0);}
  100% {transform: scale(0, 0);}  
}
.flash {
  animation: flash-animation 1s infinite;
}
.flash-quick {
  animation: flash-animation 0.25s infinite;
}

@-webkit-keyframes flash-animation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes flash-animation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
#timer {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: x-large;
  max-width: 11.75rem !important;
  width: 11.75rem !important;
  padding: 0px;
  padding-top: 0.25rem;
  /* border-radius: 50rem; */
}
.buruburu {
  animation: hurueru .1s  infinite;
}
@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
.img-small {
  height: 2rem;
  width: 2rem;
}
.modal-dialog {
  top: 10% !important;
}
